<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../main.css"/>
    <title>モデルのコードの例 - Backbone.js と ES6 の例</title>
    <style>
      body {
        margin: 50px;
      }

      #editView {
        width: 35%;
        margin-top: 20px;
        padding: 10px;
      }

      #editView input, textarea {
        width: 80%;
      }
    </style>
  </head>
  <body>
    <div id="pageView"></div>
    <div id="editView"></div>
    <div id="buttonView"></div>

    <script id="pageTemplate" type="text/template">
      <h1><%= title %></h1>
      <div><%= body %></div>
    </script>

    <script id="editTemplate" type="text/template">
      <h1>ページの編集</h1>
      <div>タイトル</div>
      <input type="text" value="<%= title %>" />
      <div>本文</div>
      <textarea rows="5"><%= body %></textarea>
    </script>

    <script id="buttonTemplate" type="text/template">
      <ul>
      <% _.each(list, function(item) { %>
        <li style="display: <%= item.display %>;"><button><%= item.label %></button></li>
      <% }); %>
    </ul>
    </script>

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/underscore/underscore-min.js"></script>
    <script src="../node_modules/backbone/backbone-min.js"></script>
    <script src="../node_modules/backbone.localstorage/backbone.localStorage-min.js"></script>
    <script src="bundle.js"></script>
  </body>
</html>