<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../main.css"/>
    <title>View のコードの例 - Backbone.js と ES6 の例</title>
  </head>
  <body>

    <div id="page">
      <h1></h1>
      <div></div>
    </div>

    <script id="pageTemplate" type="text/template">
      <h1><%= title %></h1>
      <div><%= body %></div>
    </script>

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/underscore/underscore-min.js"></script>
    <script src="../node_modules/backbone/backbone-min.js"></script>
    <script src="bundle.js"></script>

  </body>
</html>